* {
  box-sizing: border-box;
}

:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

img {
  max-width: 100%;
}
body {
  background-color: var(--light-grayish-blue);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}

.main {
  background-color: #ffffff;
  box-shadow: 0px 6px 14px 2px rgb(109, 109, 109);
  border-radius: 0.5em;
  display: grid;
  position: relative;
  max-width: 90%;
}

.main__img-container {
  border-radius: 0.5em 0.5em 0 0;
  height: 218px;
  overflow: hidden;
  line-height: 0;
}

.main__description {
  color: var(--desaturated-dark-blue);
  display: flex;
  flex-direction: column;
}

.main__title,
.main__subtitle {
  line-height: 1.7em;
}

.main__title {
  color: var(--very-dark-grayish-blue);
  font-size: 1.2em;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0;
  word-spacing: 0.2em;
}
.main__subtitle {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 1em;
  padding: 0 0.5em;
}
.social-card {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  margin: 2.5em 2.2em 2em 2.2em;
  height: 40px;
}

.social-card__img-container {
  line-height: 0;
  margin: 0;
}

.social-card__img {
  border-radius: 50%;
  max-width: 60%;
}

.social-card__info {
  margin-right: 3.5em;
  width: 110%;
}

.social-card__name,
.social-card__date {
  margin: 0;
  font-size: 1em;
}
.social-card__name {
  color: var(--very-dark-grayish-blue);
}
.social-card__date {
  margin-top: 0.5em;
  color: var(--grayish-blue);
  font-weight: 500;
}

.social-card__share-button {
  background-color: rgba(128, 128, 128, 0.11);
  border: none;
  border-radius: 50%;
  height: 100%;
  outline: none;
  padding: 0.8em;
  transition: background-color 0.5s;
  z-index: 10;
}
.social-card__share-button--active {
  background-color: var(--desaturated-dark-blue);
}

.social-card__share-img {
  transition: fill 0.5s;
}
.social-card__share-img--active {
  fill: white;
}

.social__links {
  align-items: center;
  background-color: var(--very-dark-grayish-blue);
  border-radius: 0 0 0.4em 0.4em;
  bottom: 0;
  left: 0;
  display: flex;
  transform: scale(0);
  position: absolute;
  font-weight: 500;
  font-size: 1.3em;
  height: 90px;
  text-transform: uppercase;
  transform-origin: bottom right;
  transition: transform 0.5s ease-in-out;
  transition-delay: 0.2s;
  width: 100%;
}

.social__links--active {
  transform: scale(1);
}

.links__share {
  font-weight: 300;
  color: var(--grayish-blue);
  letter-spacing: 0.3em;
  margin-left: 2em;
  margin-right: 2em;
}

.links__img:not(:first-child) {
  margin-left: 1em;
}

.attribution {
  margin-top: 2em;
  text-align: center;
  width: 90%;
}

@media screen and (min-width: 700px) {
  .main {
    height: 420px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 75%;
  }

  .main__img-container {
    border-radius: 0.5em 0 0 0.5em;
    height: 100%;
    overflow: hidden;
  }
  .main__img {
    object-fit: cover;
    height: 100%;
  }

  .main__description {
    justify-content: space-around;
    padding: 0 2em;
  }

  .main__title {
    margin: 0;
  }

  .main__subtitle,
  .social-card {
    margin: 0;
  }

  .main__subtitle {
    padding: 0;
  }

  .social__links {
    border-radius: 1em;
    height: auto;
    width: 250px;
    transform-origin: bottom center;
  }
  .social__links::before {
    content: "";
    clip-path: polygon(45% 100%, 0 34%, 100% 33%);
    display: flex;
    background-color: inherit;
    width: 10%;
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
  }

  @media screen and (min-width: 1024px) {
    .main {
      height: auto;
    }

    .main__title {
      font-size: 2em;
    }

    .main__subtitle {
      font-size: 1.5em;
    }

    .social-card__share-button {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 1440px) {
  .main {
    max-width: 50%;
  }

  .main__title {
    font-size: 1.8em;
  }

  .main__subtitle {
    font-size: 1.4em;
  }

  .social-card {
    margin-bottom: 2em;
  }
}
